
.home-page-main-component-container{
    background-color: var(--primary-01);
    /* padding:1rem; */
    color:white;
    overflow: hidden;
}

.amura-img{
    width:100%;
}

.home-page-main-content-container{
    padding:1rem;
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:1rem;
}