

.horizontal-card-container{
    background-color: white;
    color:var(--primary-font-color);
    overflow: hidden;
  
  
}
.horizontal-card-content{
  padding:1.2rem;
  padding-top:2rem;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  gap:0.8rem;
}
.horizontal-card-qoute{
  font-weight: 300;
  font-size: 1.5rem;
  text-align: left;
  
}
.horizontal-card-title{
  font-weight: bold;
  font-size: 2.5rem;
  color:var(--primary-font-color);
}


.horizontal-card-location-container{
  display:flex;
  gap:1rem;
  align-items: center;
}

.card-right-arrow{
  color:var(--primary-font-color);
}
.project-image{
  height: 13.3rem;
    
}
.Horizontal-card-white-space{
  height:4rem;
  background-color: white;
}

@media only screen and (min-width: 800px) {
  
  .horizontal-img-container{
    display: flex;
    justify-content:center;
  }

  .project-image{
    width: 50rem;
   height: 35rem;
  }


  .img2{
    margin-left: 1rem;
  }

  .img3{
    height:50rem;
    width: 100%;
    
  }

}