

.header-container{
    background-color: var(--primary-01);
    display:flex;
    padding:0.5rem;
    border-bottom: 2px solid var(--secoundary-01);
    position:sticky;
     top:0; 
}

.header-logo{
    margin-right:auto;
    width: 3rem;
    height: 3rem;
}

.header-right-icons-container{
    color:var(--secoundary-01);
    display:flex;
    font-size: 1.5rem;
    gap:1.5rem;
    align-items: center;
    margin-right:0.5rem;
    
}

.header-right-icon{
    padding:0.5rem;
    box-shadow: 2px 2px 5px var(--primary-02);
    border-radius: 0.4rem;
   
}



.header-icon-phone{
    font-size: 1.3rem;
}