

.vertical-card-container{
    background-color: var(--primary-01);
    overflow:hidden;
}

.verical-card-content{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    padding:2rem;
    text-align: left;
}


.vertical-card-title{
    color:var(--primary-01);
    font-size: 2.5rem;
}

.vertical-card-description{
    color:var(--dark-gray);
}