
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

:root{
  --primary-01:rgb(94, 91, 91);
  --primary-02:#7ab71f;
  --primary-03:#138176;
  --primary-04:#00A68F;
  --secoundary-01: #86bc34;
  --secoundary-02: #cda076;
  --secoundary-03: #b58761;
  --secoundary-04: #9f7356;
  --secoundary-05: #c5d32f;
  --secoundary-06: #e2b38580;;
  --footer-bg: var(--white-color);
  --dark-gray:#838383;
  --white-color:white;

}

.primary-highlight{
  font-weight: bold;
  font-size: 3rem;
}

.secoundary-highlight{
  color:var(--secoundary-01);
}
.bold-txt{
font-weight: bold;
}
.font-2{
  font-size:2rem;
}
.secoundary-btn{
  background-color: var(--secoundary-01);
  color:var(--primary-01);
  display:flex;
  gap:1rem;
  padding:1rem 2rem;
  border-radius: 2rem;
  font-size: larger;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border:1px solid var(--secoundary-01);
  margin: 1rem 0;
}